<%- include("header") -%>

<div class="add-page">
       <h2 style="display: flex;justify-content: space-between;"><span>Your Balance : $ <%= Yourbalance %> </span><span > Total Income : <span style="color:darkgreen;">$ <%= totalIncome%></span> </span></h2>
       <form action="/add-income" method="post" class="income-expense-form">
           <div class="input-group">
               <label for="title">Title</label>
               <input type="text" name="incomeTitle"  placeholder="Title Name" maxlength="20" required>
           </div>
           <div class="input-group">
               <label for="amount">Amount</label>
               <input type="number" name="incomeAmount" value="number" placeholder="Enter Amount" maxlength="6" required>
           </div>
           <div class="input-group">
               <label for="description">Description</label>
               <input name="incomeDesciption"   maxlength="200"></input>
           </div>
           <div class="input-group" style="width:15%;">
               <label for="date">Date</label>
               <input type="date" name="Date" value="" required>
           </div>
           <button type="submit"  name="incomeSubmit" class="submit-btn">Add Income</button>
       </form>


       <div class="records">
           <h3>Your Incomes</h3>
           <% if ( ItemList.length > 0) { %>
               <ul>
                   <% ItemList.forEach(function(income) { %>
                     <a href="/Item/<%= income._id %>/">
                       <li class="record-list">
                         <strong><%= income.title %> </strong>
                         <span style="color:green">$ <%= income.amount %></span>
                          on  <%= income.date.toLocaleDateString("en-US",{weekday:"long",year: "numeric",month: "long",day: "numeric",}) %></li>
                    </a>
                   <% }) %>
               </ul>
           <% } else { %>
               <p>No incomes added yet.</p>
           <% } %>
   </div>


<%- include("footer") -%>
